<nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_questions_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>


<main id="ask_main" >
    <div>
    <%= form_for(@question) do |f| %>
        <ul id="ulask">
            <li>
                <label for="">Title</label>   
            </li>
            <li>
                <%= f.text_area(:title, :size => '112x1') %>
            </li>
            <li>
                <label>Quastion</label>
            </li>
            <li>
                <%= f.text_area(:question, :size => '112x20') %>
            </li>
            <li>
                <div class="related_sub">
                    <label for="">Related Subject</label>
                    <%= f.select(:subject_id, Subject.all.map {|s| [ s.name, s.id ] } ) %>
                    <%= f.submit("Update Question") %>
                </div>
            </li>

        </ul>
    <% end %>
    </div>      
</main>

<div class="right_side">
        <div class="right_div">
            <h3 class="right_div_h3">How to Ask?</h3>
            
            <strong class="right_div_strong">Is your question about computer science education?</strong>
            <p class="right_div_p">we prefer question that can be answered;not just discussed <br>
            provide details.<br> share your research </p><br>
        </div>
    </div>