<nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_questions_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>

<main id="main" class="defult_main">
    <!-- <div class="the_title">
        <strong>the title of quastion </strong>
    </div> -->
    <div class="quastion_home_3_in">
        <div class="quastion_home_3_1 ">
            <img src="<%= @question.user.avatar.url(:thumb)%>" alt="the asker" class="asker">
            <span> <%= @question.user.username %> </span>
            <b> <%= @question.created_at %> </b>
        </div>
        <div class="quastion_home_3_2 quastion_home_3_2_in">
            <div class="title_home3_in">
                <b> <%= @question.title %> </b>
            </div>                    
        </div>
    </div>

    <div class="Qbody" id="scroll" date-simplebar>  
        <pre class="Qbody_sub">
            <%= @question.question %> 
        </pre>
    </div>
    <div class="Q_option">
        <div class="Q_option_1">
            <input value="Answer" type="button" onclick="answer()" class="btn_answer_1">
        </div>
        
        <% if flash[:create_answer].present? %>
            <p style="color:red; margin:2px"> <%= flash[:create_answer] %> </p>
        <% end %>
        
        <div class="Q_option_2" id="answer_body">
            <%= form_tag(answers_path, :method => :post) do %>
                <%= text_area_tag(:answer, params[:answer], size: '105x10') %><br>
                <%= submit_tag("Answer") %>
            <% end %>
        </div>
    </div>

    <% @question.answers.each do |answer| %>  
    <div class="answer">
        <div class="answer_up" >
            <div class="answer_up_left" >
                <% if answer.rank %>
                    <i class="fas fa-star" id="star"></i>
                <% else %>
                    <i class="fas fa-star" id="star" style="color:white"></i>
                <% end %>
                
                <% if @current_user.admin? || @current_user.instructor? %>
                    <a href="<%= rank_answer_answer_path(answer) %>" class="link_rank"> Rank </a> 
                <% end %>
            </div>
            <div class="answer_up_right">
                <div class="quastion_home_3_1 ">
                    <img src="<%= answer.user.avatar.url(:thumb)%>" alt="the asker" class="asker">
                    <span> <%= answer.user.username %> </span>
                    <b> <%= answer.created_at %> </b>
                </div>
                <pre>
                    <%= answer.answer %> 
                </pre>
            </div>
        </div>

        <div class="answer_down" >
                <a href="#"><i class="fas fa-thumbs-up"></i> like</a>
                <a href="#"> <i class="fas fa-thumbs-down"></i> dislike</a>
                <a href="<%= new_comment_answer_path(answer) %>" ><i class="far fa-comment"></i>comment</a>
                <% if @current_user.username == answer.user.username %>
                    <a href="<%= edit_answer_path(answer) %>"><i class="far fa-comment"></i> Update</a>
                    <a href="<%= delete_answer_path(answer) %>"><i class="far fa-comment"></i> Delete</a>
                <% end %>    
        </div>
    </div>
    <% end %>
     
</main>

<div class="right_side" id="right_side">
        
    <div class="right_div_table">
        <h3 class="right_div_h3">Site states</h3>
        <table>
            <th colspan="2">Site states</th>
            <tr>
                <td>Quastions</td>
                <td><%= Question.count %></td>
            </tr>
            <tr>
                <td>Answers</td>
                <td> <%= Answer.count %> </td>
            </tr>
            <tr>
                <td>True_answers</td>
                <td><%= Answer.rank_answer.count %></td>
            </tr>
            <tr>
                <td>Users</td>
                <td> <%= User.count %> </td>
            </tr>
            <tr>
                <td>Subjects</td>
                <td> <%= Subject.count %> </td>
            </tr>
        </table>
    </div>

</div>   
 
</main>

<script>
    function menuToggle(){
        const sidebar = document.getElementById('sidebar')
        
        sidebar.classList.add('active')
        const main = document.getElementById('main')

        const handleClick = function(){
            sidebar.classList.remove('active')
            main.removeEventListener('click', handleClick)
        }

        setTimeout(function(){
            main.addEventListener('click', handleClick)
        }, 100) 
    }

    function answer(){
    const sidebar = document.getElementById('answer_body')
    
    sidebar.classList.add('active_answer')
    const main = document.getElementById('right_side')

    const handleClick = function(){
        sidebar.classList.remove('active_answer')
        main.removeEventListener('click', handleClick)
    }

    setTimeout(function(){
        main.addEventListener('click', handleClick)
    }, 100)
    
}


</script>