<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="shortcut icon" href="../image/logo.ico" />

    <link rel="stylesheet" href="../css/login1.css">
    <%= stylesheet_link_tag('application', :media => 'all') %>

</head>
<body>
    <div class="container">
        <div class="sub_container">
            <div class="sub_1">
                <h2>Welcome to the website </h2>
                <p>
                    Helping developers write the script of the future. <br>
                    Building communities where everyone who codes can learn and share their knowledge. <br>
                    Connecting students with instroctor to help them to find the solution of 
                    specific problem. 
                </p>
                <!-- <a href="" class="about_link">About</a> -->

            </div>

            <div class="sub_2">
                <div class="sub_2_1">
                    <div class="img_div">
                        <img src="/assets/111.jpg" alt="logo">
                    </div>
                    <section>Computer Engineering learning Stack Exchange</section>
                </div>
                <div class="sub_2_2">
                <%= form_tag(sessions_path, :method => :post) do %>
                    <ul>
                        <li>
                            <%= label_tag(:email) %>
                            <%= text_field_tag(:username, params[:username]) %>
                        </li>
                        <li>   
                            <%= label_tag(:password)  %>
                            <%= password_field_tag(:password) %>
                        </li>
                        <% if !flash[:notice].blank? %>
                            <li> <p style="color:red; margin:2px"> <%= flash[:notice] %> </p> </li> 
                         <% end %>
                        <li>
                            <%= submit_tag("Log In") %>
                        </li>
                    </ul>    
                <% end %>   
                    <a href="<%= passworrds_new_path %>" class="forget">Do you forget password?</a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>