Welcome to StackExchange.com, <%= @user.username %>
===============================================

This is the token of password: <%= @user.reset_password_token %>.

Thanks for joining and have a great day!