<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>athurization</title>
    <link rel="shortcut icon" href="../image/logo.ico" />

    <link rel="stylesheet" href="../css/login1.css">
    <%= stylesheet_link_tag('application', :media => 'all') %>
</head>
<body>
        <div class="container">
            <div class="sub_container">
                <div class="sub_1">
                    <h2> That Normal ! </h2>
                    <p>
                       Just follow the steps for renewal your password <br><br>
                       <b>Then</b><br>
                       Go smoothly.
                        
                    </p>
                    <!-- <a href="" class="about_link"></a> -->
    
                </div>
    
                <div class="sub_2">
                    <div class="sub_2_1">
                        <div class="img_div">
                            <img src="/assets/111.jpg" alt="logo">
                        </div>
                        <section>Stack Exchange</section>
                    </div>
                    <div class="sub_2_2">
                        <form action="<%= passworrds_forgot_path %>" method="get">
                            <li>
                                <label for="">Email</label> 
                            </li>
                            <li>
                                <input type="text"  name="email" required>
                            </li>
                            <% if flash[:forgot_password].present? %>
                                <li> <p style="color:red; margin:2px" > <%= flash[:forgot_password] %> </p> </li>
                            <% end %>
                            
                            <input type="submit" value="Enter">
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
</body>
</html>