
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>athurization</title>
    <link rel="shortcut icon" href="../image/logo.ico" />

    <link rel="stylesheet" href="../css/login1.css">
    <%= stylesheet_link_tag('application', :media => 'all') %>

</head>
<body>
    <div class="container">
        <div class="sub_container">
            <div class="sub_1">
                <h2>Check your Email </h2>
                <p>
                    The massage already sent to your Email <br>
                    Note! <br>
                    Enter the code and your new Password<br><br>
                    Quickly access to Email Page below

                </p>
                <%# <a href="<%= www.Email.com %>" target="-blank" class="about_link">Email</a>  %>

            </div>

            <div class="sub_2">
                <div class="sub_2_1">
                    <div class="img_div">
                        <img src="/assets/111.jpg" alt="logo">
                    </div>
                    <section>Stack Exchange</section>
                </div>
                <div class="sub_2_2">
                    <form action="<%= passworrds_reset_path %>" method="get">
                        <li>
                            <label for="">The code</label> 
                        </li>
                        <li>
                            <input type="text" placeholder="The code" name="token" required>
                        </li>
                        <li>
                            <label for="">New Password</label> 
                        </li>
                        <li>
                            <input type="password" placeholder="Password" name="password" required>
                        </li>
                        <% if  flash[:forgot_password].present? %>
                            <li> <p style="color:red; margin:2px"> <%= flash[:forgot_password] %> </p> </li>
                        <% end %>
                        <input type="submit" value="Enter">
                    </form>
                </div>
            </div>
        </div>
    </div>
         
</body>
</html>