 <main id="main" class="profile_main defult_main">
        <div class="profile_up2">
            <% if @current_user&.admin? || @current_user&.instructor? %>
                <img class="first" src="/assets/doctors.jpeg" alt="">
            <% else %>
                <img class="first" src="/assets/profile.jpg" alt="">
            <% end %>        
            <div class="profile_up2_1">
                <img src="<%= @user.avatar.url(:medium) %>" alt="pdc" class="profile_img"/>
                <b class="name"> <%= @user.username %> </b>
            </div>
            
        </div>
        <!-- <div class="profile_mid">
            
                <div>
                    <strong>Asks:</strong> 
                    <span> 1</span>
                </div>
                <div>
                    <strong>Answer:</strong>
                    <span> 1 </span>
                </div>
                
        </div> -->
        <div class="container">

                <div class="mid_ul_1">
                    <div class="mid_ul_1_1">
                        <li>
                            <a href="<%= user_path(@current_user) %>" class="mid_ul_link"> All Quastion </a>
                        </li>
                        <li>
                            <a href="<%= show_answers_user_path(@current_user) %>" class="mid_ul_link"> All Answers  </a>
                        </li>
                        
                    </div>
                </div>
        </div>

        <% @answers.each do |answer| %>
        <div class="quastion_home">
            <div class="quastion_home_1">
                <h4>Answers</h4>
                <p> 1 </p>
            </div>

            <div class="quastion_home_3_pro">
                <div class="quastion_home_3_1">
                    <img src="<%= answer.user.avatar.url(:thumb) %>" alt="the asker" class="saker">
                    <span> <%= answer.user.username %> </span>
                        <b> <%= answer.created_at %> </b>
                </div>
                <div class="quastion_home_3_2">
                    <div class="quastion_home_3_2_1">
                        <b><a href="<%= question_path(answer.question) %>"> <%= answer.answer %> </a></b>
                    </div>                    
                </div>
            </div>
            <div class="quastion_home_4">
                <a href="">Update</a>
                <a href="<%= delete_answer_path(answer) %>">Delete</a>
            </div>

        </div>
        <% end %> 

    </main>
    

    <div class="right_side">
        <div class="right_div_table">
                <h3 class="right_div_h3">Personal states</h3>
            <table>
                <!-- <th colspan="2"> states</th> -->
                <tr>
                    <td>Quastions</td>
                    <td> <%= @user.questions.count %> </td>
                </tr>
                <tr>
                    <td>Answers</td>
                    <td> <%= @user.answers.count %> </td>
                </tr>
                <tr>
                    <td>True_answers</td>
                    <td><%= @user.answers.rank_answer.count %></td>
                </tr>
                
            </table>
        </div>
        <% if @current_user&.admin? %>
        <div class="mange_list">
            <h4 class="h4mange">Management</h4>
            <div class="menu">
                <li class="item" id="user">
                    <a href="#user" class="btn"><i class="fas fa-users"> </i> Users</a>
                    <div class="sub_menu">
                        <a href="Add_student.html" class="sub_menu_link " ><i class="fas fa-user-plus" id="mange_icon"></i> Add</a>
                        <a href="" class="sub_menu_link " ><i class="far fa-eye" id="mange_icon"></i></i> Show</a> 
                    </div>
                </li>
                <li class="item" id="subject">
                    <a href="#subject" class="btn"><i class="fas fa-book"> </i> Subject</a>
                    <div class="sub_menu">
                        <a href="" class="sub_menu_link " >Add</a>
                        <a href="" class="sub_menu_link " > <i class="far fa-eye" id="mange_icon"></i></i> Show</a>    
                    </div> 
                </li>
                
            </div>
        </div>
        <% end %>
            <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>

    </main>
    <script>
            function menuToggle(){
                const sidebar = document.getElementById('sidebar')
                
                sidebar.classList.add('active')
                const main = document.getElementById('profile_main')
    
                const handleClick = function(){
                    sidebar.classList.remove('active')
                    main.removeEventListener('click', handleClick)
                }
    
                setTimeout(function(){
                    main.addEventListener('click', handleClick)
                }, 100)
                
            }
        
        </script>
    
</body>
</html>