<nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_questions_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>




<main id="about_main">
    <ul class="about_ul">
        <li> By </li>
        <li>
            <ul class="about_ul">
                <li class="student_li">
                    <img src="../assets/bakri.jpg" alt="prenoal_img" class="personal_img"> 
                    <sup><b>Abubker darwish swahli</b></sup>
                </li>
                <li class="student_li"> 
                    <img src="../assets/ahmed.jpg" alt="prenoal_img"class="personal_img"> 
                    <sup><b>Ahmed zaki bashkeel</b></sup>
                </li>
                <li class="student_li">
                    <img src="../assets/mohammed.jpg" alt="prenoal_img" class="personal_img"> 
                    <sup><b>Mohammed ben mohammed swahli</b></sup>
                </li>
                <li class="student_li">
                    <img src="../assets/saeed.jpg" alt="prenoal_img" class="personal_img"> 
                    <sup> <b> Saeed yahia ben waber</b></sup>
                </li>
            </ul>
        </li>
        <li>
            <i><strong>Supervised By</strong></i>
            <ul class="about_ul">
                <li class="student_li"> 
                    <img src="../assets/222.jpg" alt="prenoal_img" class="personal_img"> 
                    <sup> <b>Rasha ben thaleeb</b></sup>
                </li>
            </ul>
        </li>
    </ul>
    </div>
    <!-- <div id="paragrf">
        <p id="pa">
            ththhtt
        </p>
    </div> -->
    <div id="connect">
        <b>phone:05386154 / whatsApp:715571666 / Email:Abubker.darwish@gmail.com</b>
    </div>    
</main>

<div class="right_side">
    <div class="right_div_table">
    <h3 class="right_div_h3">Site states</h3>
        <table>
            <th colspan="2">Site states</th>
            <tr>
                <td>Quastions</td>
                <td><%= Question.count %></td>
            </tr>
            <tr>
                <td>Answers</td>
                <td> <%= Answer.count %> </td>
            </tr>
            <tr>
                <td>True_answers</td>
                <td><%= Answer.rank_answer.count %></td>
            </tr>
            <tr>
                <td>Users</td>
                <td> <%= User.count %> </td>
            </tr>
            <tr>
                <td>Subjects</td>
                <td> <%= Subject.count %> </td>
            </tr>
        </table>
    </div>
</div>
