<nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_user_users_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>


<main id="main" class="add_student_main">
    <div class="add_stdudent_div">
        <%= form_for(@user) do |f| %>
        <table summary="Subject form fields">
            <tr>
                <td>Image</td>
                <td><%= f.file_field(:avatar) %></td>
            </tr>
            <tr>
                <td>username</td>
                <td> <%= f.text_field(:username) %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= f.text_field(:email) %></td>
            </tr>
            <tr>
                <td>Role</td>
                <td><%= f.select(:role, ["admin","instructor","student"] ) %></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><%= f.select(:status, ["active","unactive"] ) %></td>
            </tr>
        </table>

            <%= f.submit("Update User") %>
        <% end %>
    </div>
</main>
