 <nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_users_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>
 
 
 
 <main id="main" class="profile_main defult_main">
        <div class="profile_up2">
            <% if @current_user&.admin? || @current_user&.instructor? %>
                <img class="first" src="/assets/sttaf.jpeg" alt="">
            <% else %>
                <img class="first" src="/assets/profile.jpg" alt="">
            <% end %>                
            <div class="profile_up2_1">
                <img src="<%= @user.avatar.url(:medium) %>" alt="pdc" class="profile_img"/>
                <b class="name"> <%= @user.username %> </b>
            </div>
            
        </div>
        <!-- <div class="profile_mid">
            
                <div>
                    <strong>Asks:</strong> 
                    <span> 1</span>
                </div>
                <div>
                    <strong>Answer:</strong>
                    <span> 1 </span>
                </div>
                
        </div> -->
        <div class="container">

                <div class="mid_ul_1">
                    <div class="mid_ul_1_1">
                        <li>
                            <a href="<%= user_path(@current_user) %>" class="mid_ul_link"> All Quastion </a>
                        </li>
                        <li>
                            <a href="<%= show_answers_user_path(@current_user) %>" class="mid_ul_link"> All Answers  </a>
                        </li>
                        
                    </div>
                </div>
        </div>

        <% @questions.each do |question| %>
        <div class="quastion_home" onclick="show()">
            <div class="quastion_home_1">
                <h4>Answers</h4>
                <p> <%= question.answers_count %> </p>
            </div>

            <div class="quastion_home_2">
                <h4>Views </h4>
                <p> <%= question.views_count %> </p>
            </div>

            <div class="quastion_home_3_pro">
                <div class="quastion_home_3_1">
                    <img src="<%= question.user.avatar.url(:thumb)%>" alt="the asker" class="saker">
                    <span> <%= question.user.username %> </span>
                        <b> <%= question.created_at %> </b>
                </div>
                <div class="quastion_home_3_2">
                    <div class="quastion_home_3_2_1">
                        <b><a href="<%= question_path(question) %>"> <%= question.title %> </a></b>
                    </div>                    
                </div>
            </div>
            <% if @show_delete_update %>
                <div class="quastion_home_4" id="show">
                    <a href="<%= edit_question_path(question) %>">Update</a>
                    <a href="<%= delete_question_path(question) %>">Delete</a>
                </div>
            <% end %>

        </div>
        <% end  %>

    </main>
    

    <div class="right_side">
        <div class="right_div_table">
                <h3 class="right_div_h3">Personal states</h3>
            <table>
                <!-- <th colspan="2"> states</th> -->
                <tr>
                    <td>Quastions</td>
                    <td> <%= @user.questions.count %> </td>
                </tr>
                <tr>
                    <td>Answers</td>
                    <td> <%= @user.answers.count %> </td>
                </tr>
                <tr>
                    <td>True_answers</td>
                    <td><%= @user.answers.rank_answer.count %></td>
                </tr>
                
            </table>
        </div>
        <% if @current_user&.admin? %>
        <div class="mange_list">
            <h4 class="h4mange">Management</h4>
            <div class="menu">
                <li class="item" id="user">
                    <a href="#user" class="btn"><i class="fas fa-users"> </i> Users</a>
                    <div class="sub_menu">
                        <a href="<%= new_user_path %>" class="sub_menu_link " ><i class="fas fa-user-plus" id="mange_icon"></i> Add</a>
                        <a href="<%= show_users_users_path %>" class="sub_menu_link " ><i class="far fa-eye" id="mange_icon"></i></i> Show</a> 
                    </div>
                </li>
                <li class="item" id="subject">
                    <a href="#subject" class="btn"><i class="fas fa-book"> </i> Subject</a>
                    <div class="sub_menu">
                        <a href="<%= new_subject_path %>" class="sub_menu_link " >Add</a>
                        <a href="<%= subject_path(1) %>" class="sub_menu_link " > <i class="far fa-eye" id="mange_icon"></i></i> Show</a>    
                    </div> 
                </li>
                
            </div>
        </div>
        <% end %>
            <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>

    </main>
    <script>
            function menuToggle(){
                const sidebar = document.getElementById('sidebar')
                
                sidebar.classList.add('active')
                const main = document.getElementById('profile_main')
    
                const handleClick = function(){
                    sidebar.classList.remove('active')
                    main.removeEventListener('click', handleClick)
                }
    
                setTimeout(function(){
                    main.addEventListener('click', handleClick)
                }, 100)
                
            }
            function show(){
                const sidebar = document.getElementById('show')
                
                sidebar.classList.add('show')
                const main = document.getElementById('bod')
    
                const handleClick = function(){
                    sidebar.classList.remove('show')
                    main.removeEventListener('click', handleClick)
                }
    
                setTimeout(function(){
                    main.addEventListener('click', handleClick)
                }, 100)
                
            }
        
        </script>
    
</body>
</html>