<nav>   
    <figure class="top_figure">
       <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_user_users_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>

<main id="main" class="show_student_main">
    <div class="show_stu_content">
        <table class="show_stdent_table">
            <tr>
                <th>Username</th>
                <%# <th>Password</th> %>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Date</th>
                <th>Manage</th>
            </tr>
            <!-- for command for this tr to list all student  -->
             <% @users.each do |user| %>  
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><%= user.status %></td>
                <td><%= user.created_at %></td>
                <th class="manage"> 
                    <a href="<%= delete_user_path(user) %>" onclick="sure()">Delete</a>
                    <a href="<%= edit_user_path(user) %>">Update</a>
                </th>
            </tr>
            <% end %>
        </table>
    </div>
</main>