<nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_questions_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>


<main id="ask_main" >
    <div>
    <%= form_for(@answer) do |f| %>
        <ul id="ulask">
            <li>
                <label for="">Answer</label>   
            </li>
            <li>
                <%= f.text_area(:answer, size: '114x30') %>
            </li>
        </ul>
        <div class="related_sub">
            <%= f.submit("Update Answer") %>
        </div>
    <% end %>
    </div>      
</main>