  <nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_subject_subjects_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>

<main id="main" class="add_student_main">
    <div class="add_stdudent_div">
        <%= form_for(@subject) do |f| %>       
        <table summary="Subject form fields">
            <tr>
                <td>Name</td>
                <td> <%= f.text_field(:name) %></td>
            </tr>
        </table>
        
        <% if flash[:create_subject].present? %>
            <p style="color:red; margin:2px"> <%= flash[:create_subject] %> </p>
        <% end %>

        <%= f.submit("Add Subject") %>
    <% end %>
    </div>
</main>


<%# <div class="right_side"> %>

<%# </div> %>