  <nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_subject_subjects_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>
  
  <main id="main" class="show_student_main">
        <div class="show_sub_content">
            <table class="show_subject_table">
                <tr>
                    <th >Name</th>
                    <th>Manage</th>
                </tr>
                <!-- for command for this tr to list all student  -->
                <% @subjects.each do |subject| %>  
                <tr>
                    <td><%= subject.name %></td>
                    <td class="manage"> 
                        <a href="<%= delete_subject_path(subject) %>">Delete</a>
                        <a href="<%= edit_subject_path(subject) %>">Update</a>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>

    </main>