<nav>   
    <figure class="top_figure">
        <span class="logo_span">
            CE-learner <br> Stack Exchange
        </span>
            
    </figure>

    <i class="fas fa-bars" onclick="menuToggle()" id="menu_button"></i>

    <%= form_tag(search_subjects_path, :method => :get) do %>
        <div id="search_bar" >                    
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag("Search") %>
        </div>
    <% end %>
    
    <div class="nav_right">  
        
        <figure class="down_figure" >
            <div>
                <a href="<%= user_path(@current_user) %>" class="avtar_link"><img src="<%= @current_user.avatar.url(:thumb) %>s" alt="logo" class="avatar"></a>
            </div> 
            <span><a href="<%= user_path(@current_user) %>"> <%= @current_user.username %> </a></span>
        </figure>
        
    </div>
</nav>




<main id="main" class="defult_main">
        <div class="container">

            <div class="mid_ul_1">
                <div class="mid_ul_1_1">
                    <li>
                    <a href="<%= subject_questions_subject_path(@subject) %>" class="mid_ul_link"> All Quastion </a>
                </li>
                <li>
                    <a href="<%= unanswered_subject_path(@subject) %>" class="mid_ul_link"> Non Answered  </a>
                </li>
                <li>
                    <a href="<%= answered_subject_path(@subject) %>" class="mid_ul_link">  Answered  </a>
                </li>
                </div>
                
                <div class="mid_ul_1_2">
                    
                    <li>
                    <a href="" class="mid_ul_link">last week  </a>
                </li>
                <li>
                    <a href="" class="mid_ul_link">  last month</a>
                </li>
                </div>

            </div>
            
            <div class="askdiv">
                <a href="<%= new_question_path %>" class="mid_ul_link">Ask Quastion <i class="fas fa-question"></i> </a>
            </div>
        </div>

        <% @questions.each do |question| %>
        <div class="question_container" id="scroll"  data-simplebar>
            <div class="quastion_home">
                <div class="quastion_home_1">
                    <h4>Answers</h4>
                    <p> <%= question.answers_count %> </p>
                </div>

                <div class="quastion_home_2">
                    <h4>Views </h4>
                    <p> <%= question.views_count %> </p>
                </div>

                <div class="quastion_home_3">
                    <div class="quastion_home_3_1">
                        <img src="<%= question.user.avatar.url(:thumb)%>" alt="the asker" class="saker">
                        <span> <%= question.user.username %> </span>

                        <p style="display: none"><%= x = false %></p>
                        <% question.answers.each do |answer| %>
                        
                            <% if answer.rank %>
                                <p style="display: none"> <%= x = true %> </p>
                            <% end %>    
                        <% end %>
                        <% if x %>    
                            <i class="fas fa-star" id="star_main"></i>
                        <% else %>
                            <i class="fas fa-star" id="star_main" style="color:white"></i>
                        <% end %>

                        <% if @current_user.admin? %>
                            <a href="<%= delete_question_subject_path(question) %>"> Delete</a>
                        <% end %>

                        <b> <%= question.created_at %> </b>
                    </div>
                <div class="quastion_home_3_2">
                    <div class="quastion_home_3_2_1">
                        <b><a href="<%= question_path(question) %>"> <%= question.title %> </a></b>
                    </div>                    
                </div>
            </div>
        </div>
        <% end %>    
        
        
    </main>



<div class="right_side">
        
    <div class="right_div_table">
        <h3 class="right_div_h3">Site states</h3>
        <table>
            <th colspan="2">Site states</th>
            <tr>
                <td>Quastions</td>
                <td><%= Question.count %></td>
            </tr>
            <tr>
                <td>Answers</td>
                <td> <%= Answer.count %> </td>
            </tr>
            <tr>
                <td>True_answers</td>
                <td><%= Answer.rank_answer.count %></td>
            </tr>
            <tr>
                <td>Users</td>
                <td> <%= User.count %> </td>
            </tr>
            <tr>
                <td>Subjects</td>
                <td> <%= Subject.count %> </td>
            </tr>
        </table>
    </div>

</div>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>



<script>
    function menuToggle(){
        const sidebar = document.getElementById('sidebar')
        
        sidebar.classList.add('active')
        const main = document.getElementById('main')

        const handleClick = function(){
            sidebar.classList.remove('active')
            main.removeEventListener('click', handleClick)
        }

        setTimeout(function(){
            main.addEventListener('click', handleClick)
        }, 100)
        
    }

</script>