@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
html,body{
    margin: 0;
    
    height: 100%;
    
}
body{
    background: rgb(241, 241, 241);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    height: 2.8em;
    background: rgb(209, 217, 224);
    display: flex;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 2px #000; 
}
.avatar{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: 0;
    box-shadow: 1px 1px 1px rgb(112, 112, 112);
    /* display: none; */
    left: 0;

}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
    
}
.top_figure{
    display: none;
    
}
figcaption{
    display: none;
}
.down_figure{
    display: flex;
    margin: .2em;
    width: 100%;
}
.down_figure span{
    margin: auto 5px;
}

.ulnav{
    margin-top: 1.3em;
    text-transform: capitalize;    
    margin: .6em 1em;
    right: 0;
    position: absolute;
      
}
.navlinks{
    text-decoration: none;
    font-size: 1.1em;
    /* display: block;  */
    /* text-align: center; */
    margin: auto;
    color:#000;
    padding: 0;
}
.navlinks:hover{
    transform: scale(.92);

}
#search{
    /* margin-top:0.1em;  */
    width: 75%;
    height: 1.9em;
    border-radius: 1em;
    text-align: left;
    padding-left: 1em;
    color:#14191b;
    border:1px solid #ffffff;
    margin-bottom: 0.2em;
    outline: none;
}
#search_bar{
    background:#fff;
    display: flex;
    border: 1px rgb(132, 177, 230) solid;
    border-radius: 0.6em;
    /* width: 67%; */
    height: 2em;
    outline-color: #5dbae6;
    padding: 0;
    margin:0.4em 0 ;
    /* box-shadow: 1px 0 2px rgba(5, 5, 5, 0.5); */
    position: relative;
}
.avtar_link{
    right: 0;
    margin: auto 0;
}
.nav_right{
    width: 42%;
    height: 2.5em;
    display: flex;
    position: relative;  
}
.fa-bars{
    color: #0e90cc;
    margin: .2em ;
    font-size: 1.5em;
    height: 1.3em;
}
#fa-search{
    width: 10%;
    height: 98%;
    position: absolute;
    right: 0;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;

    background: #0e90cc;
    margin: 0 0 0 .3em;
}
.fa-search{
    color: #fff;
    width: 1em;
    height: 2em;
    margin-left: .2em;
}

.left_side{
    display: none;
    height: 95%;
    width: 15%;
    position: fixed;
    margin: 2.51em auto 0 0;
    border-right: 1px solid silver; 
    box-shadow: 1px 1px 5px #000;
}
.ulleftside{
    width: 100%;
    margin-top: 2em;

    
}
.ulleftside li{
    
    position: relative;
    display: block;
}
.leftlinks{
    color:#000;
    display: block;
    font-size: 1.2em;
    /* margin: 1em ; */
    padding:.8em ;
    padding-left: 1.5em;
    transition: 0.2s linear;
    position: relative;
}

.leftlinks:hover{
    background: #5dbae6;
    color: #fff;
    transform: scale(.92);
}

.leftlinks::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;    
    height: 100%;
    width: 5%;

}
.leftlinks:hover::before{
    background: #0e90cc;
}

#main{
    /* width: 100%; */
    /* height: 100%; */
    /* background: rgb(216, 190, 190); */
    
    position: relative;
    margin: 2.51em 0 0  0;
}
/* .defult_main{
    width: 65%;
} */
.container{
    display: block;
    width: 97.5%;
    height: 3em;
    background: rgba(34, 152, 248, 0.548);
    position: relative;
    margin: 1em auto .5em auto;
    box-shadow: 1px 1px  4px #000;
    
}
.mid_ul_1{
    display: inline-flex;
    margin: 1px 5px;
}
.mid_ul_1_1{

    /* position: absolute; */
    /* right: 0; */
    /* left: 0; */
    margin: 10px auto;
    display: flex;
    background: #0e90cc;
    padding: 0.2em;
    border-radius: 0.3em;
    box-shadow: 1px 1px 3px #000;
}
.mid_ul_1_1 li{
    margin-right: 2px;
    padding: 0.2em;
    padding-top: 0.4em;
    /* border: 1px solid #000; */
    /* border-radius: 0.3em; */
    display: block;
    /* background: #97d7f5; */
    /* border-radius: 5px; */
    /* border: 1px solid #fff; */
    
}
.mid_ul_1_2{
    /* position: absolute; */
    display: flex;
    /* right: 40%; */
    margin: 10px auto;
    background: #0e90cc;
    padding: 0.2em;
    box-shadow: 1px 1px 3px #000;
    border-radius: 0.3em;
}
.mid_ul_1_2 li{
    margin-right: 2px;
    padding: 0.2em;
    padding-top: 0.4em;
    display: block;
    /* background: #0e90cc;
    border-radius: 5px; */
}
.askdiv{
    display: block; 
    right:10px;
    padding: 0.45em .7em;
    border-radius: 0.3em;
    padding-top: 0.6em;
    /* height: 2.3em; */
    margin:  6px auto; 
    position: absolute;
    background: #0e90cc;
    box-shadow: 1px 1px 3px #000;
}


.mid_ul_link{
    display: block;
    color: #fff;
    font-size:.9em; 
}
.mid_ul_link:hover{
color: rgb(10, 10, 10);
}



h4{
    margin: .5em 0;
    font-size: .6em;
    
}
p{
    margin: 0;
}
.question_container{
    
    width: 100%;
    
}
.quastion_home{
    display: flex;
    max-height: 10em;
    margin: 10px ;
    background: rgba(162, 163, 218, 0.521);
    border-radius: 0.3em;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    position: relative;
}

.quastion_home_1 {
    width: 14%;
    display: block;
    margin: 5px ;
    /* border: 1px #000 solid; */
    border-radius: 0.4em;
    /* height: 100%;  */
    text-align: center;
    box-shadow: 1px 1px 2px #000;
}

.quastion_home_2 {
    width: 14%;
    display: block;
    margin: 5px ; 
    /* border: 1px #000 solid; */
    border-radius: 0.4em;
    /* height: 70%; */
    text-align: center;
    box-shadow: 1px 1px 2px #000;
     /* background: green; */
}

.quastion_home_3{
    width: 65% ;
    display: block;
    margin: 5px ; 
    /* border: 1px #000 solid; */
    
    border-radius: 0.4em;
    height:4em;
    /* text-align: center; */
    padding-top: 0.25em;
    
    /* background: #157c37; */
    /* box-shadow: 1px 1px 2px #000; */
    right: 2px;
}
.quastion_home_3_in{
    width: 98% ;
    display: block;
    margin: 10px ; 
    /* border: 1px #000 solid; */
    background: #0e90cc;
    border-radius: 0.4em;
    height:4em;
    /* text-align: center; */
    padding-top: 0.25em;
    color: #fff;
    /* background: #157c37; */
    /* box-shadow: 1px 1px 2px #000; */
    right: 2px;

}
.title_home3_in{
    color:#fff;

}
.title_home3_in:hover{
    color:#000;
    
}
.quastion_home_3_pro{
    width: 65% ;
    display: block;
    margin: 5px ; 
    /* border: 1px #000 solid; */
    
    border-radius: 0.4em;
    height:4em;
    /* text-align: center; */
    padding-top: 0.25em;
    
    /* background: #157c37; */
    /* box-shadow: 1px 1px 2px #000; */
    right: 2px;
}
.quastion_home_3_1{
    width: 100%;
    height:1.5em;
    position: relative;
    margin:0;
    /* padding: 2px; */
}
.quastion_home_3_1 img{
    height: 20px ;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
}
.quastion_home_3_1 span{
    position: absolute;
    left: 40px;
    font-size: 10px;
    padding-top: 5px;

}
.quastion_home_3_1 b{
    position: absolute;
    right:3px;
    font-size: 10px;
    padding-top: 5px;

}
.quastion_home_3_2{
    display: flex;
    height: 2.4em;
    padding-left: 10px;
    
}
.quastion_home_3_2_1{
    width: 100%;
    /* background: rgb(211, 221, 236); */
}
/* .quastion_home_3_2_2{
    width: 15%;
} */
.quastion_home_3_2_1 a{
    color: rgb(0, 0, 0);

}
.quastion_home_3_2_1 a:hover{
    color: rgb(0, 106, 245);
}
.quastion_home_4{
    width: 10%;
    position: absolute;
    right: 1px;
    height: 100%;
    

}
.quastion_home_4 a{
    display: block;
    padding: .3em;
    margin: 4px;
    /* background: #0e90cc; */
    border-radius: .4em;
    text-align: center;
    color: #0e90cc;
}
.quastion_home_4 a:hover{
    transform: scale(0.95);
    color: #000;

}

.right_side{
    display: none;
    height: 95%;
    width: 20%;
    /* background: rgb(252, 184, 184); */
    position: fixed;
    margin: 2.51em 0 0 0;
    border-left: 1px solid silver; 
    right: 0;
    box-shadow: -1px -1px 5px #000;

}
.right_div_table{
    width: 80%;
    margin: 2em 1em;
    border-radius: 0.2em;
    border: 1px solid#000;
    box-shadow:  1px 1px 2px #000


}
.right_div{
    width: 80%;
    margin: 2em 1em;
    border-radius: 0.2em;
    border: 1px solid#000;
    box-shadow:  1px 1px 2px #000
    /* text-align: center; */
    /* padding: .2em 0.5em; */
    
}
.right_div_h3{
    display: block;
    padding: .5em;
    text-align: center;
    color: #fff;
    background: #0e90cc;
    margin: 0; 
}
.right_div_strong{
    display: block;
    margin: 0.5em auto;
    padding: .2em 0.5em; 
    /* letter-spacing: .5px; */

}
.right_div_p{
    margin: 0.5em auto;
    padding: .2em 0.5em; 
    display: block;
}
.right_div_down{
    width: 80%;
    margin: 2em 1em;
    border-radius: 0.2em;
    border: 1px solid#000;
    height: 17em;
    box-shadow:  1px 1px 2px rgb(131, 123, 123);
    /* overflow: hidden; */
    position: relative;
    
    padding-bottom: 1.5em;

}
.right_div_down_content{
    width: 100%;
    overflow:  hidden scroll;
    height: 90%;
}

.right_div_down b{
    display: block;
    margin: 5px auto;
    padding: 1px 3px;
    color: rgb(48, 43, 39);
}
table{
    /* border: 1px solid #000; */
    /* box-shadow: 1px 1px 2px #000; */
    width: 100%;
    border-radius: .2em;
}
td{
    padding: 0.5em;
    font-size:1.1em; 

}

#about_main{
    margin: 2.51em 0 0 0;
    width: 100%;
    height: 94%;
    position: relative;
}
.about_ul{
    padding-left:1em;
    margin: 1em auto ;
    /* font-size: 1.1em;  */
    width: 90%;
}
.about_ul sup{
    display: inline-block;
}
.personal_img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.student_li{
    margin: 1em auto;
    text-transform: capitalize;
}
#connect{
    position: absolute;
    bottom: 40%;
    font-size:.7em;  
    width: 100%;
    

}
.simplebar-scrollbar:before{
    background: #000;
}
.simplebar-scrollbar{
    margin-right: 2px;
}

#connect b{
    /* text-align: center; */
    margin: 0 auto 0 0;
}
.user_main{
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15%;

}
.users{
    display: flex;
    margin: .5em auto;
    width: 95%;
    max-height: 5em;
    text-align: center;

}
.user_img{
    width: 2em;
    height: 3em;
    border-radius:20%;
    display: block;
    margin: .5em  auto;

}
.users_info{
    margin: .5em 0;
    position: relative;
}
.sub_info{
    margin: .5em 0;
}
.users_info span{
    margin: .3em auto;
    font-size: .9em;
    display: block;
}
.sub_info span{
    margin: 1em 0;
    font-size: 1.1em;
    display: block;
}
.profile_main{
    position: relative;
    /* display: flex;    */
}

.profile_up2{
    width:99.5% ;
    height: 15em;
    position: relative;
    font-size: 1.3em;
    
}
.profile_up2 .first{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;


}
.profile_up2_1{
    position: absolute;
   margin: auto 35%; 
   display: block;
   opacity: 2;
   text-align: center;
}
.profile_img{
    width: 9em;
    height: 9em;
    border-radius: 50%;
    position: relative;
    margin: 2em auto 1em auto;
    box-shadow: 1px 1px 10px #000;
    opacity: 1;
}

#ask_main{
    width: 100%;
    /* padding: 1em; */
    position: relative;
    margin: 2.51em 0 0 0;
    
}





.ulask li{
    margin: 1em auto;
}
.Qtitle{
    width: 95%;
    height: 2em;
    margin: 1em auto;
    border-radius: 0.4em;
    border: none;
    outline: none;
    padding-left: 0.5em;

    box-shadow: 1px 1px 2px #000; 
}
.Qtext{
    width: 95%;
    height: 15em;
    resize: none;
    margin: 1em auto;
    border-radius: 0.4em;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px #000;
    font-size: 1.1em;
    padding-left: 0.5em;
}
.related_sub{
    width: 95%;
    height: 3em;
    padding: .2em;
    background: rgb(209, 208, 208);
    position: relative;
    border-radius: 0.4em;
    box-shadow: 1px 1px 2px #000;
}
.select_related_sub{
    width: 30%;
    height: 2em;
    margin:  0.5em;
    border-radius: .4em;
    outline: none;
    font-size: 15px;
    position: relative;
    


}
.ask_btn{
    width: 15%;
    height: 2.1em;
    border-radius: .4em;
    outline: none;
    
}

.the_title{
    width: 94%;
    max-height: 3em;
    background: rgb(214, 212, 231);
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px #000;
    margin: 1em auto;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
}

.Qbody{
    width: 94%;
    max-height: 15em;
    background: rgb(228, 227, 238);
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px #000;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em auto;
    position: relative;
    overflow: hidden scroll;
    scroll-behavior: auto;
    
}
.Qbody_sub{
    /* background: none; */
    /* position: absolute; */
    
    width: 100%;
    max-height: 100%;
    outline: none;
    border: none;
    margin: 0;
    
      
    
}
.logo_span{
    text-align: center;
    color:#0e60cc;
    /* margin-top: 2px; */
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    padding-left: 25px;
    font-weight: bolder;
    
}

.answer{
    width: 94%;
    max-height: 33.5em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px #000;
    padding: 0.5em;
    /* padding-top: 1em;
    padding-bottom: 1em; */
    margin: 1em auto;
    position: relative;
    display: block;
    background: #0e90cc;
}
.answer_up{
    display: flex;
    width: 100%;
}
.answer_up_left {
    width: 10%;
    text-align: center;
}
.answer_up_left i{
    
    display: block;
    

}
.fa-star{
    color:rgb(247, 210, 0);
    margin: 1em 0 .5em 0;
    font-size: 1.5em;
}
.link_rank {
    display: block;
    width: 65%;
    background: #f2ff36;
    padding: 10px;
    /* color: yellow; */
    /* height: 2em; */
    margin: .5em 0;
    /* border: none; */
    box-shadow: 1px 1px 3px #000;
    border-radius: .2em;
    outline: none;

}
.link_rank:hover{
    transform: scale(0.95);
}

.answer_up_right{
    width: 90%;
    max-height: 8em;
    overflow: hidden scroll;
    color: #fff;
    /* background: #000; */
}
.answer_down{
    height: 2em;
    display: block;
}
.answer_down a{
    color: #fff;
    padding: .5em;
    font-size: 1.1em;
}
.answer_down a:hover{
 color: #000;
}



.Q_option{
    width: 97%;
    padding:0;
    margin: 10px;
    /* max-height: 50em; */
    /* display: block; */
    /* position: relative; */
}
.Q_option_1{
    height: 2em; 
    /* position: relative; */
    display: block;
    margin: 10px auto 20px auto;
}
.btn_answer_1{
    display: block;
    background: #0e90cc;
    position: absolute;
    right: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: .3em;
    box-shadow: 2px 2px 10px #000;

}
.btn_answer_1:hover{
    transform: scale(.95);
    color: #fff;
} 
.Q_option_2{
    text-align: center;
    /* background: rgb(252, 252, 252); */
    /* overflow: hidden; */
    transition: max-height 0.3s;
    display: none;
    /* position: relative; */
}
.answer_body{
    width: 95%;
    height: 10em;
    resize: none;
    margin: 5px 2.5%;
    padding: 0;
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px #000;
    border-radius: .3em;
    /* position: absolute; */
    left: 10px ;
    /* position: absolute; */
}
.btn_answer_2{
    width: 13%;
    height: 2em;
    border-radius: .15em;
    /* position: absolute; */
    /* right: 10px; */
    border: .5px solid rgb(150, 149, 149);
    box-shadow: 1px 1px 2px #000;
}
.active_answer{
    display: block;
}







.menu{
   width: 80%;
   border-radius: 0.4em;
   overflow: hidden;
   margin: 0.5em auto;
   box-shadow: 1px 1px 2px #000;
}
.item{
    overflow: hidden;
    border-top: 1px solid #9fc9ff;
    
}
li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.btn{
    display: block;
    padding: 10px 15px ;
    background: #3498db;
    color: #fff;
    position: relative;

}
#mange_icon{
    margin-right: .5em;
}
.btn::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #3498db;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
    /* z-index: 11; */
    
}
.sub_menu{
    background: #000;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}
.sub_menu a{
    display: block;
    color: #fff;
    padding: 16px 26px;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}
.sub_menu a::before{
    content: "";
    position: absolute;
    width:6px;
    height: 100%;
    background: #3498db;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .3s;
}
.sub_menu a:hover:before{
    opacity:1;
}
.item:target .sub_menu{
    max-height: 10em;
}
.h4mange{
    margin: .5em 0 0 10%;
    font-size: 1.2em;
}
.add_stdudent_div{
    width: 100%;
    position: relative;
    height: 90%;
    padding: 20px;
    margin: 1em auto;
    


}
.flex_form{
    position: relative;
 display: flex;
 height: 100%;
}
/* .add_stdudent_div li{
    display: block;
    position: relative;
    margin: .5em auto;
    height: 2em;

} */

.input_stu{
    width: 100%;
    padding: 2px;
    margin:  .5em;
    height: 1.55em;
    outline: none;
    border: none;
    border-radius: 2px;
    display: block; 
    border-radius: .4em;
    font-size: 1.05em;
}
.input_stu:focus{
    border:1px solid rgba(6, 135, 255, 0.795);
}
.sub_add_stdudent_down select{
    height: 1.7em;
    font-size: 1.05em;
    
}
.add_stdudent_div label{ 
    font-size: 22px;
    display: block;
    /* width: 0%; */
    margin:  .53em;
    /* font-size: 1.05em; */

}
.btn_add_stu{
    height: 2em;
    width: 6em;
    margin: 1em .3em;
    padding: 2px;
    outline: none;
    border: none;
    border-radius: 2px;
    /* display: block;  */
    border-radius: .4em;
    font-size: 1.05em;
    background: rgb(28, 172, 255);
    color: #fff;
}
.btn_add_stu:hover{
    transform: scale(.95);        

}
.show_student_main{
    width: 97%;
}
.show_stu_content{
    margin: 1em;
    padding: 5px;
    width: 95%;
    text-align: center;
    background: rgb(231, 226, 226);
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000;

}
.show_stdent_table{
    overflow-y: hidden scroll;
    /* width: 80em;  */
}
.manage a{
    display: block;
    padding: 4px;
    color: #1100ff;
    /* background: #2e88fd; */
    margin: 2px auto;
    /* border-radius: .3em; */
    font-size: .9em;
}
.manage_sub a:hover ,.manage a:hover{
    transform: scale(0.95);
    color:#000;

}
.show_stdent_table th{
    font-size: 1.1em;
    padding: 5px;
}
/* .show_subject_table tr{
    width: 80%;
}
.show_subject_table td{


} */
.show_sub_content{
    margin: 1em ;
    padding: 5px;
    width: 95%;
    text-align: center;
    position: relative;
    background: rgb(223, 219, 219);
    border-radius: 5px;
    box-shadow: 1px 1px 4px #000; 
}
.show_subject_table{
    width: 40%;
    margin: 1em 30%;

}
/* .show_sub_content tr td[first]{
text-transform: uppercase;
} */
.manage_sub a{
    display: block;
   width:60% ;
    padding: 5px;
    color: #fff;
    background: #2e88fd;
    margin: 2px auto;
    border-radius: .3em;
}

.active{
    position: absolute;
    display: block;
    background: rgba(223, 219, 219, 0.986);
    width: 45%;
    height: 100%;
    left: 0;
    top: -5%;
    z-index: 9;
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}
.active1{
    border: 1px solid #141414;
    box-shadow: 0px 0px 4px #000;
}
@media only screen and (min-width:800px){
    html,body{
        margin: 0;
        font-family: 'Montserrat';
        height: 100%;
    }
    body{
        background: rgb(241, 241, 241);
        display: flex;
        position: relative;
    }
    h4{
        font-size: 1em;
        margin: .5em 0;
    }
    
    .avatar{
        width: 90%;
        height: 100%;
        border-radius: 10px;
        margin: auto 0 auto .5em;
     
    }
    
    figcaption{
        display: inline;
        font-size: 1.1em;
        font-weight: bold ;
        color:#000000;
        margin: .5em 0 0 1em;
    }
    .fa-bars{
        display: none;

    }
    .ulnav{
        margin: .5em 1em;
    }
    .navlinks{
        display: block; 
    }
    .navlinks:hover{
        transform: scale(.92);
    
    }
    .top_figure{
        display: flex;
        width: 15%;
        margin: 0 ;
    }
    .down_figure{
        
        margin: 0 ;
        display:flex;
    }
    .down_figure .avatar{
        margin-top: .25em;
    }
    .down_figure span {
        margin: 10px  auto auto 10px;
    }
    #search{
        width: 92%;
        
    }

    #search_bar{
        /* width: 65%; */
    }
    .nav_right{
        width: 20%;
        position: relative;
    }
    #fa-search{
        width: 5.7%;
        height: 98%;
    }
    .fa-search{
        /* color: #fff;
        width: 1em;
        height: 2em; */
        margin-left: 1em;
    }
    .fa-search:hover{
        color: #0e90cc;
        transform: scale(1.3);
    
    }
    #fa-search:hover{
        transform: scale(.92);
    
        background: #fff;
    }
    .left_side{
        display: block;
    }
    #main{
        /* width: 65%; */
        margin: 2.51em 0 0  15.1%;
        position: relative;
    }
    .defult_main{
        width: 65%;
    }
    .container{
        display: flex;
        width: 97.3%;
        max-height: 10em;
        /* background: rgb(139, 121, 121); */
        /* position: relative; */
        margin: 5px auto;
        padding: 5px;
    }
    .mid_ul_1_1{
        margin: 5px;
    }
    .mid_ul_1_1 li{
        margin: 0 5px;
        /* box-shadow: 1px 1px 3px #000; */
    }
    .mid_ul_link{
        
        font-size:1em; 
    }
    
    .mid_ul_1_2{
        margin: 5px;
    }
    .mid_ul_1_2 li{
        margin: 0 5px;
        /* box-shadow: 1px 1px 3px #000; */

    }
    /* .mid_ul_2 li:hover{
        transform: scale(1.1);
    } */
    
    .question_container{
        width: 100%;
        height: 31em;
        /* overflow: hidden scroll; */
        /* scroll-behavior: auto; */
        
    }
    .quastion_home_1 {
        width: 10%;
    }
    
    .quastion_home_2 {
        width: 10%;
    }
    
    .quastion_home_3{
        width: 80% ;
        max-height:5em ;
    }
    .quastion_home_3_1{
        width: 100%;
        height:1.5em;
        position: relative;
        margin:0;
        /* padding: 2px; */
    }
    
    .quastion_home_3_1 span {
        left: 40px;
        font-size: 15px;
        /* padding: 0; */
        padding-top: 3px;
    
    }
    .quastion_home_3_2_in {
        padding-top: .5em ;
    }
    .quastion_home_3_1 b{
        font-size: 14px;
        /* padding: 0; */
        padding-top: 3px;
        right:20px;
        
    }
    .quastion_home_3_2{
        display: flex;
        height: 2.4em;
        padding-left: 10px;
        
    }
    .right_side{
        display: block;
        
    }
    .defult_main{
        width: 65%;
    }
    #about_main{
        margin: 2.51em 0 0 15.1%;
        width: 65%;
    }
    .about_ul{
        font-size: 1.2em;
    }
    #connect{
        position: absolute;
        bottom: .5em;
        font-size: 1em;
        float: inherit;
        
    
    }
    #connect b{
        /* text-align: center; */
        margin: 0 auto 0 10%;
    }
    .user_img{
        width: 3em;
        height: 4em;
        margin: auto 5px;    
    }
    .users_info p{
        font-size: 1em;
    }
    #ask_main{
        width: 62%;
        padding: 1em;
        
        margin: 2.51em 0 0  15.1%;
    }
    #mange_icon{
        margin-right: .5em;
    }
    .search_form{
        width: 65%;
    }
    nav form{
        width: 65%;
    }
    .show{
        display: block;

    }
    #search_bar input[type=submit]{
        border:none;
        background: #0e90cc;
        border-radius: .6em;
        height: 92%;
        margin-top: 1px;
        margin-right: 1px;
        color:#fff;
    }
    #search_bar input[type=submit]:hover{
        color:#0e90cc;
        background: #fff;
        transform: scale(1.02);
    }
    .comment_div{
        width: 100%;
        display: block;
        /* position: relative; */
    }
    .input_comment_div{
        width: 100%;
        height: 2em;
        background: #fff;
        border-radius: .6em;
        border: 1px solid #14191b;
        /* position: sticky; */
    }
    .input_comment_div form input[type=text]{
        width: 89%;
        height: 2em;
        border: none;
        outline: none;
        padding-left: 10px;
        border-radius: .6em;
    }
    .input_comment_div form input[type=submit]{
        border: none;
        height: 2em;
        padding: 5px;
        margin-right: 0;
        background: #0e90cc;
        color:#fff;
        width: 5.1em;
        border-radius: .6em;

    }
    .comment_info{
        margin: .5em;
        position: relative;
        padding: 2px;
        width: 90%;
        margin: .3em auto;
        background: #fff;
        border-radius: .4em;
    }
    .show_comment{
        position: relative;
        width: 100%;
        overflow: hidden scroll;
        max-height: 22.5em;
    }

    .show_comment1{
        display: inherit;
        
    }

    .quastion_home_3_1 a{
        position: absolute;
        left: 50%;
        color:red;

    }
    .quastion_home_3_1 a:hover{
        color:blue;
    }
    #star_main{
        color:yellow;
        height: 15px;
        position: absolute;
        right: 10px;
        z-index: 20;
    }

}