html,body{
    height: 100%;
    
    font-family: 'Montserrat';
}
body{
    margin: 0;
    padding: 0;
}
p{
    letter-spacing: 1px;
    font-size: 16px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 100%;
    height: 100%;
    background: rgb(241, 240, 240);
    background-size: 100% 100%; 
    position: relative;
}
.sub_1{
    display: none;
}
.img_div, section{
text-align: center;

}
.img_div img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.sub_2_2 form li{
    list-style-type: none;
    display: block;
    margin: 10px 20px;
    
}
.sub_2_2{
    /* background: #fff; */
    height: 300px;
    width: 80%;
    margin: 1em 10%;
    padding: 10px;
    border-radius: 5px;
}
.sub_2_2 form li label{
    font-weight: bolder;
    font-size: 19px;
    color: #000;
    display: block;
    margin: 5px ;
}
.sub_2_2 form li input[type=text]{
    width: 80%;
    padding: 5px 10px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(104, 58, 183, 0.274);
    font-size: 15px;
    transition: .51s;
    color: #fff;

}
ul{
    padding: 0;
    margin: 0;
}
.sub_2_2 input[type=submit]{
    padding: 10px ; 
    display: block;
    width: 25%;
    margin: 25px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    background: rgb(4, 0, 255);
    color:#fff;
}
.forget{
    display: block;
    /* text-align: center; */
    font-size: 14px;
    font-weight: bolder;
    /* position: absolute; */
    bottom: 5px;
    width: 60%;
    margin: 1em 1.5em;
    color: #000;
}
.forget:hover{
    color:#000;
}
@media only screen and (min-width:690px){
    
    .sub_container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* margin: 20% auto; */
        background: rgb(209, 217, 224);
        height: 350px;
        width: 700px;
        border-radius: 5px;
    
    }
    .sub_1 , .sub_2{
        position: relative;
        width: 50%;
        height: 350px;
        float: left;
        box-sizing: border-box;
    
    }
    .sub_1{
        padding: 40px 30px ;
        color: #000;
        display: block;
        
    }
    
    .about_link{
        color:rgb(255, 255, 255);
        background: rgb(4, 0, 255);
        padding: 10px 20px;
        /* margin: 3em ; */
        width: 50px;
        display: block;
        border-radius:5px;    
    }
    .about_link:hover{
        box-shadow: 0px 0px 9px  #fff;
        transform: scale(0.97);
    
    }
    .sub_2 {
        background: rgb(246, 246, 246);
        height: 350px;
        transition: .5s;
        position: relative;
        border-radius: 5px;
    }
    .sub_2:hover{
        height: 390px;
        top: -20px;
        transition: .5s;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.527);

    }
    .sub_2_1{
        display: block;
        text-align: center;
        overflow: hidden;
    
    }
    .img_div{
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: .5em auto;
        overflow: hidden;
    }
    .img_div img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .img_div:before{
        content: "";
        position: absolute;
        top:0;
        left: -100px;
        height: 100px;
        width: 50px;
        transform: skewx(-30deg);
        background: rgba(255, 255, 255, 0.507);
        transition: 1s;
    
    }
    .img_div:hover:before{
        left: 100px;
    
    
    }
    .sub_2_1 section{
        margin: auto 20%;
        width: 60%;
        font-size: 14px;
        font-weight: bolder;
        color: #000;
    
    }
    /* .sub_2_2 .form{
        background-color: rgb(207, 47, 47);
    } */
    .sub_2_2{
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0;
    }
    .sub_2_2 form li{
        list-style-type: none;
        display: block;
        margin: 10px 20px;
        
    }/*
    .sub_2_2{
        background: none;
    } */
    .sub_2_2 form li label{
        font-weight: bolder;
        font-size: 13px;
        color: #000;
    }
    .sub_2_2 form li input[type=text]{
        width: 50%;
        padding: 5px 10px;
        height: 18px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: rgba(209, 217, 224, 0.931);
        font-size: 15px;
        transition: .51s;
        color: #fff;
    
    }
    .sub_2_2 form li input[type=password]{
        width: 50%;
        padding: 5px 10px;
        height: 18px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: rgba(209, 217, 224, 0.931);
        font-size: 15px;
        transition: .51s;
        color: #fff;
    
    }
    .sub_2_2 form li input[type=text]:focus{
        /* transform: scale(1.05); */
        border: 1px solid rgba(104, 58, 183, 0.815);
        transition: .51s;
        width: 80%;
        color: black;
        
    }
    .sub_2_2 form li input[type=password]:focus{
        /* transform: scale(1.05); */
        border: 1px solid rgba(104, 58, 183, 0.815);
        transition: .51s;
        width: 80%;
        color: black;
    }
    .sub_2_2 input[type=submit]{
        padding: 8px ; 
        display: block;
        width: 30%;
        margin: 20px ;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bolder;
        background: rgb(4, 0, 255);
        color:#fff;
    }
    .sub_2_2 input[type=submit]:hover{
        transform: scale(.95);
        box-shadow: 0px 0px 9px  rgb(105, 28, 238);
    
    }
   

}