<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main_page</title>
    <link rel="shortcut icon" href="../image/logo.ico" />
    <script src="../java script/main.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <link rel="stylesheet" href="../css/index1.css">
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= stylesheet_link_tag('admin', :media => 'all') %>

</head>
<body id="bod">
    



    <div class="left_side" id="left_side">
        
        <ul class="ulleftside">
            <li>
                <a href="<%= questions_path %>" title="home" class="leftlinks"><i class="fas fa-home"> </i> Home</a>
            </li>
            <li>
                <a href="<%= users_path %>"  title="users"  class="leftlinks"><i class="fas fa-users"> </i> Users</a>
            </li>   
            <li>
                <a href="<%= subjects_path %>"  title="subjects"  class="leftlinks"><i class="fas fa-book"> </i> Subjects</a>
            </li>
            <li>
                <a href="<%=  about_developers_users_path %>"  title="about"  class="leftlinks"><i class="fas fa-info-circle"> </i> About</a>
            </li>
            <li >
                <a href="<%= new_session_path %>" class="leftlinks"><i class="fas fa-sign-out-alt"></i> Logout </a>
            </li>  
        </ul>
       
    </div>

    <%= yield %>

</body>
</html>