<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="shortcut icon" href="../image/logo.ico" />
    <%= stylesheet_link_tag('application', :media => 'all') %>
  
</head>

  <body>

      <%= yield %>

  </body>
</html>